.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.landing-ui h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.landing-ui h2 {
  font-size: 1rem;
  font-weight: 500;
}

.landing-ui p {
  font-size: 1.2rem;
  color: #d4d4d4;
  margin-top: 10px;
}

.nav-bar {
  color: rgba(230, 230, 230, 0.893);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(125, 125, 125, 0.208);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(128, 128, 128, 0.434);
  border-radius: 20px;
  width: 20rem;
  height: 50px;
  position: absolute;
  right: 5rem;
  top: 2rem;
  animation: top-down 1.2s ease-out forwards;
}

.nav-bar a {
  color: aliceblue;
  text-decoration: none;
}

.nav-bar a:hover {
  color: black;
}

@keyframes top-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-bar ul {
  display: flex;
  gap: 15px;
}

.nav-bar li {
  list-style-type: none;
  font-weight: 700;
  cursor: pointer;
}

/* projects */

.project {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  /* background:  #00565d; */
  background-color: rgba(1, 27, 113, 1);
  background-image: linear-gradient(
    90deg,
    rgba(1, 27, 113, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  overflow: hidden;
}

.project-container {
  color: rgb(255, 255, 255);
  background-color: rgb(41, 41, 41);
  width: auto;
  height: 500px;
  border-radius: 20px;
  margin: 1em 4em;
  overflow: hidden;
  animation: scroll-view 1s linear;
  animation-range: entry 0 cover 60%;
}

@keyframes scroll-view {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

/* .project-images{
  width:calc(200%);
   height: 50%;
   display: flex;
}

> img {
  object-fit: cover;
  height: 100%;
  width: 100%;
} */

.slideshow {
  width: 100%; /* adjust */
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(200%); /* since doubled array */
  animation: scroll-left 10s linear infinite;
}

.slide-track img {
  width: 600px;
  height: 200px;
  object-fit: cover;
}

.single-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* animations */

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.single-img {
  width: 100%;
  height: 40%;
  object-fit: contain;
}

.project-container > h2 {
  font-weight: 700;
  margin: 1em 0.8em;
}

.project-container p {
  padding: 1em 1em;
  font-size: 0.8rem;
}

/* contact */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00093cfa;
  overflow: hidden;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  max-width: 500px;
  background-color: white;
  margin: 2em 1em;
  border-radius: 10px;
  padding: 1em 1em;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
  animation: scroll-view 1s linear;
  animation-range: entry 0 cover 60%;
}

.error {
  color: red;
  align-self: flex-start;
}

.name-in,
.email,
.purpose,
.phone-no {
  width: 100%;
  height: auto;
  margin: 0.8em 0em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
label {
  margin-right: 2em;
  width: auto;
  height: auto;
}
label::after {
  content: "*";
  position: relative;
  left: -1.8em;
  color: red;
}

input {
  padding: 0.7em 1.5em;
  border-radius: 20px;
  width: 100%;
  border: 1.5px solid gray;
}

input:focus {
  border: 2px solid rgb(51, 0, 255);
  outline: none;
}

select {
  padding: 1em 1em;
  width: 70%;
  border-radius: 10px;
  border: 2px solid gray;
}

textarea {
  width: 100%;
  height: 120px;
  max-height: 200px;
  padding: 0.5em 1em;
  resize: vertical;
  margin-top: 1.5em;
  border: 2px solid gray;
}

.contact-container button {
  background-color: black;
  color: white;
  padding: 0.7em 1em;
  border-radius: 10px;
  border: 0;
  overflow: hidden;
  width: 100%;
  margin-top: 1em;
}

.contact-container button:hover {
  background-color: rgb(24, 24, 24);
}

.contact-container button:focus {
  border: 2px solid rgb(51, 0, 255);
  outline: none;
  background-color: black;
}

.contact-container button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

/* footer */
.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(15, 15, 73);
  color: #ffffff;
  border-top: thin solid rgba(110, 110, 110, 0.264);
  padding: 1.5em 1em;
}
.footer {
  margin: 1em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.details,
.nav-links,
.social-links {
  width: auto;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.details a,
.nav-links a,
.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: auto;
}

/* mobile portrait */
@media (min-width: 320px) and (max-width: 480px) {
  /* landing page */
  .landing-ui {
    margin: 0em 1em;
  }

  .landing-ui p {
    font-size: 0.9rem;
  }

  /* project */
  .project {
    grid-template-columns: repeat(1, minmax(50px, 1fr));
  }

  /* footer */
  .details p,
  .nav-links p,
  .social-links p {
    font-size: 0.4rem;
    font-weight: 900;
  }

}

/* mobile landscape */
@media (min-width: 451px) and (max-width: 767px) {
    /* project */
  .project {
    grid-template-columns: repeat(1, minmax(50px, 1fr));
  }
}

/* tablet portrait */
@media (min-width: 768px) and (max-width: 1024px) {
    /* project */
  .project {
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }
}

@media (max-width: 500px) {
  .nav-bar {
    left: 0;
    right: 0;
    width: 80%;
    margin: 0em 2.5em;
    justify-content: center;
    align-items: center;
  }
}
